.logo {
  height: 125px;
  display: block;
  margin: 0 auto;
}

.spacer {
  height: 30px;
}

.navbar-custom {
      background-color: #3d1f10;
    }

.navbar-nav {
      margin-left: auto;
    }

 .navbar-nav .nav-link {
      color: white;
    }

.navbar-nav .nav-link:hover{
      color: #3d1f10;
      background-color: white;
    }

.button-custom {
  background-color: #3d1f10;
  color: white;
  font-size: 1.25rem;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
    }

.contact {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.footer {
  background-color: #3d1f10;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intestazione {
  background-color: #3d1f10;
  padding: 20px 0;
  color: #fff;
  font-family: Segoe Script;
}

.intestazione h1 {
   font-size: 60px;
}

h1, h2, p {
  text-align: center;
}

.contact p {
  text-align: left;
}

.contact h2 {
  text-align: left;
}

.contact h3 {
  text-align: left;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.logo2 {
  height: 50px;
}


